/* common */
* {
  box-sizing: border-box;
}
body {
  width: 100%;
  background: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: italic;
}
p, li {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
.container {
  width: 1200px;
}
.block {
  margin: 0 auto;
  display: block;
}
.title {
  font-size: 64px;
  font-weight: 700;
  line-height: 75px;
}
.d-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.d-flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.text-normal {
  font-family: 'Noto Sans TC', sans-serif;
  font-style: normal;
}
.text-white {
  color: #FFF;
}

/* header */
.intro {
  width: 100%;
  height: 960px;
  background: url('../images/banner.png') no-repeat center center;
  background-size: cover;
  color: #FFF;
  text-align: left;
}
.intro .container {
  width: auto;
}
.intro .intro-text {
  margin-top: 98px;
}
.intro .intro-text .title {
  margin-bottom: 32px;
  font-size: 72px;
  line-height: 80px;
}
.intro .intro-text p {
  line-height: 42px;
}
.intro .icons {
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
}

/* about */
.about {
  padding: 64px 0 36px 0;
  text-align: center;
}
.about img {
  margin-top: 40px;
  margin-bottom: 16px;
}
.about .about-list {
  margin-top: 25px;
  border-top: 1px solid #000;
  padding-top: 25px;
}
.about .about-list li {
  margin-bottom: 20px;
  padding: 0 20px;
  line-height: 42px;
}
.about .about-list li::before {
  margin-right: 16px;
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  background-color: #891818;
  border-radius: 50%;
  vertical-align: middle;
}

/* brand */
.brand {
  padding-top: 64px;
  background-color: #000;
  color: #FFF;
  text-align: center;
}
.brand .title {
  margin-bottom: 16px;
}
.brand p {
  margin-bottom: 28px;
  font-weight: 400;
  line-height: 42px;
}
.brand .brand-info {
  font-size: 20px;
}
.brand img {
  margin-bottom: 40px;
}

/* works */
.works {
  padding: 64px 0 160px 0;
  height: 1888px;
  background: url('../images/photo-1561291386-5be50364cfb5.png') no-repeat center bottom;
  text-align: center;
}
.works .title {
  margin-bottom: 16px;
}
.works p {
  margin-bottom: 32px;
  font-size: 20px;
  font-weight: 400;
  line-height: 42px;
}

/* footer */
.contact {
  background-color: #000;
  padding: 61px 0;
  color: #FFF;
  text-align: center;
}
.contact .title {
  margin-bottom: 16px;
}
.contact p {
  margin-bottom: 16px;
  line-height: 36px;
}
